.colorFondoText {
  background: rgba(31, 97, 141, 1);
  background: -moz-linear-gradient(
    top,
    rgba(31, 97, 141, 1) 0%,
    rgba(150, 154, 230, 1) 45%,
    rgba(150, 154, 230, 1) 50%,
    rgba(31, 97, 141, 1) 100%
  );
  background: webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(31, 97, 141, 1)),
    color-stop(45%, rgba(150, 154, 230, 1)),
    color-stop(50%, rgba(150, 154, 230, 1)),
    color-stop(100%, rgba(31, 97, 141, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(31, 97, 141, 1) 0%,
    rgba(150, 154, 230, 1) 45%,
    rgba(150, 154, 230, 1) 50%,
    rgba(31, 97, 141, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(31, 97, 141, 1) 0%,
    rgba(150, 154, 230, 1) 45%,
    rgba(150, 154, 230, 1) 50%,
    rgba(31, 97, 141, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(31, 97, 141, 1) 0%,
    rgba(150, 154, 230, 1) 45%,
    rgba(150, 154, 230, 1) 50%,
    rgba(31, 97, 141, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(31, 97, 141, 1) 0%,
    rgba(150, 154, 230, 1) 45%,
    rgba(150, 154, 230, 1) 50%,
    rgba(31, 97, 141, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f618d', endColorstr='#1f618d', GradientType=0 );
}

.colorDegradadoRosa {
  background: rgba(251, 222, 217, 1);
  background: -moz-linear-gradient(
    top,
    rgba(251, 222, 217, 1) 0%,
    rgba(255, 252, 252, 1) 47%,
    rgba(250, 250, 250, 1) 59%,
    rgba(251, 222, 217, 1) 76%,
    rgba(251, 222, 217, 1) 100%
  );
  background: webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(251, 222, 217, 1)),
    color-stop(47%, rgba(255, 252, 252, 1)),
    color-stop(59%, rgba(250, 250, 250, 1)),
    color-stop(76%, rgba(251, 222, 217, 1)),
    color-stop(100%, rgba(251, 222, 217, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(251, 222, 217, 1) 0%,
    rgba(255, 252, 252, 1) 47%,
    rgba(250, 250, 250, 1) 59%,
    rgba(251, 222, 217, 1) 76%,
    rgba(251, 222, 217, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(251, 222, 217, 1) 0%,
    rgba(255, 252, 252, 1) 47%,
    rgba(250, 250, 250, 1) 59%,
    rgba(251, 222, 217, 1) 76%,
    rgba(251, 222, 217, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(251, 222, 217, 1) 0%,
    rgba(255, 252, 252, 1) 47%,
    rgba(250, 250, 250, 1) 59%,
    rgba(251, 222, 217, 1) 76%,
    rgba(251, 222, 217, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(251, 222, 217, 1) 0%,
    rgba(255, 252, 252, 1) 47%,
    rgba(250, 250, 250, 1) 59%,
    rgba(251, 222, 217, 1) 76%,
    rgba(251, 222, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbded9', endColorstr='#fbded9', GradientType=0 );
}
.colorDegradadoVerde {
  background: rgba(195, 211, 161, 1);
  background: -moz-linear-gradient(
    top,
    rgba(195, 211, 161, 1) 0%,
    rgba(237, 242, 225, 1) 50%,
    rgba(236, 240, 228, 1) 54%,
    rgba(195, 211, 161, 1) 91%,
    rgba(195, 211, 161, 1) 96%,
    rgba(195, 211, 161, 1) 100%
  );
  background: webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(195, 211, 161, 1)),
    color-stop(50%, rgba(237, 242, 225, 1)),
    color-stop(54%, rgba(236, 240, 228, 1)),
    color-stop(91%, rgba(195, 211, 161, 1)),
    color-stop(96%, rgba(195, 211, 161, 1)),
    color-stop(100%, rgba(195, 211, 161, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(195, 211, 161, 1) 0%,
    rgba(237, 242, 225, 1) 50%,
    rgba(236, 240, 228, 1) 54%,
    rgba(195, 211, 161, 1) 91%,
    rgba(195, 211, 161, 1) 96%,
    rgba(195, 211, 161, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(195, 211, 161, 1) 0%,
    rgba(237, 242, 225, 1) 50%,
    rgba(236, 240, 228, 1) 54%,
    rgba(195, 211, 161, 1) 91%,
    rgba(195, 211, 161, 1) 96%,
    rgba(195, 211, 161, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(195, 211, 161, 1) 0%,
    rgba(237, 242, 225, 1) 50%,
    rgba(236, 240, 228, 1) 54%,
    rgba(195, 211, 161, 1) 91%,
    rgba(195, 211, 161, 1) 96%,
    rgba(195, 211, 161, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(195, 211, 161, 1) 0%,
    rgba(237, 242, 225, 1) 50%,
    rgba(236, 240, 228, 1) 54%,
    rgba(195, 211, 161, 1) 91%,
    rgba(195, 211, 161, 1) 96%,
    rgba(195, 211, 161, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d3a1', endColorstr='#c3d3a1', GradientType=0 );
}
.colorDegradadoAzul {
  background: rgba(179, 201, 231, 1);
  background: -moz-linear-gradient(
    top,
    rgba(179, 201, 231, 1) 0%,
    rgba(255, 252, 252, 1) 50%,
    rgba(250, 250, 250, 1) 51%,
    rgba(179, 201, 231, 1) 76%,
    rgba(179, 201, 231, 1) 91%,
    rgba(179, 201, 231, 1) 100%
  );
  background: webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(179, 201, 231, 1)),
    color-stop(50%, rgba(255, 252, 252, 1)),
    color-stop(51%, rgba(250, 250, 250, 1)),
    color-stop(76%, rgba(179, 201, 231, 1)),
    color-stop(91%, rgba(179, 201, 231, 1)),
    color-stop(100%, rgba(179, 201, 231, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(179, 201, 231, 1) 0%,
    rgba(255, 252, 252, 1) 50%,
    rgba(250, 250, 250, 1) 51%,
    rgba(179, 201, 231, 1) 76%,
    rgba(179, 201, 231, 1) 91%,
    rgba(179, 201, 231, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(179, 201, 231, 1) 0%,
    rgba(255, 252, 252, 1) 50%,
    rgba(250, 250, 250, 1) 51%,
    rgba(179, 201, 231, 1) 76%,
    rgba(179, 201, 231, 1) 91%,
    rgba(179, 201, 231, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(179, 201, 231, 1) 0%,
    rgba(255, 252, 252, 1) 50%,
    rgba(250, 250, 250, 1) 51%,
    rgba(179, 201, 231, 1) 76%,
    rgba(179, 201, 231, 1) 91%,
    rgba(179, 201, 231, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(179, 201, 231, 1) 0%,
    rgba(255, 252, 252, 1) 50%,
    rgba(250, 250, 250, 1) 51%,
    rgba(179, 201, 231, 1) 76%,
    rgba(179, 201, 231, 1) 91%,
    rgba(179, 201, 231, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c9e7', endColorstr='#b3c9e7', GradientType=0 );
}
@media (min-width: 50px) {
  .sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 15px;
    right: 0;
    background-color: #2e86c1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
    margin: 5px;
  }
}
@media (min-width: 576px) {
  .sidenav {
    height: 100%;
    width: 55%;
    z-index: 1;
    top: 15px;
    right: 0;
    background-color: #2e86c1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .sidenav {
    height: 75%;
    width: 19%;
    position: fixed;
    z-index: 1;
    top: 15px;
    right: 0;
    background-color: #2e86c1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
  }
}
@media (min-width: 992px) {
  .sidenav {
    height: 55%;
    width: 19%;
    position: fixed;
    z-index: 1;
    top: 15px;
    right: 0;
    background-color: #2e86c1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
  }
}
@media (min-width: 1300px) {
  .sidenav {
    height: 380px;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 18%;
    right: 0;
    background-color: #2e86c1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
    margin-right: 3px;
  }

  .ColorExamen3 {
    height: 280px;
    width: 280px;
  }
  .grandeRes {
    height: 460px;
    width: 260px;
  }
  .grandeRes2 {
    height: 560px;
    width: 270px;
    top: 1%;
  }
  .Part7Ex {
    height: 320px;
    width: 280px;
  }
}
