.border-bottom {
  width: 100%;
  background: linear-gradient(
    to right,
    #37a000 0%,
    #37a000 25%,
    #18529d 25%,
    #18529d 50%,
    #37a000 50%,
    #37a000 75%,
    #18529d 75%,
    #18529d 100%
  );
  height: 1.5px;
}

/* pie de pagina */
.con {
  background-color: rgb(76, 76, 77);
}
.con .col-xs-12 .nav {
  background-color: rgb(76, 76, 77);
}
.pie-pagina p:last-child {
  margin-bottom: 0;
}
.con .col-xs-12 {
  z-index: 100;
}
.con {
  bottom: 0;
}
.con .text-white {
  font-weight: 300;
  font-size: 16px;
  /* font-family: "Roboto","Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}
.sn-content #d {
  font-weight: 300;
  font-size: 16px;
  /* font-family: "Roboto","Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}

@media (max-width: 767px) {
  .con .menu #border {
    border-top: 1px solid rgb(255, 255, 255) !important;
  }
  .con .menu .border-left {
    border-left: none !important;
  }
  .con #border #social {
    margin-left: 65px;
    padding-right: 0;
    padding-left: 0;
  }

  .con #border #social .col {
    padding: 0;
  }
}

.w3-button {
  color: rgb(40, 173, 86);
}
.con .row .col-xs-12 #direccion a:hover {
  opacity: 0.5;
}
.con .nav a:hover {
  opacity: 0.5;
}

#direccion:hover {
  text-decoration: none;
  opacity: 0.5;
}
.con .menu .nav-link {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.cont .menu .border-left {
  border-left: 1px solid rgb(255, 255, 255) !important;
}
.con .menu .border-top {
  border-top: none !important;
}
.con .copy.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.966) !important;
}
